{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block body %}

<div class="content-section">
<!-- <h1 class="font-weight-bold">Login</h1> -->
<br>

{% include "ink/form_errors.html" %}

<form  method="POST" class="needs-validation" enctype="multipart/form-data">
{{ form.hidden_tag() }}
{{ form.crf_token }}

<fieldset class="form-group">
<legend class="border-bottom mb-4">Log In</legend>
<div class="form-group">

{{ form.username.label(class='form-control-lable') }}:
{{ form.username(class='form-control') }}
</div>		


<div class="form-group">

{{ form.password.label(class='form-control-lable') }}:
{{ form.password(class='form-control') }}
<br>
<div class="form-check">
{{ form.remember(class="form-check-input") }}
{{ form.remember.label(class="form-check-label") }}
</div>

</fieldset>

Submit:
<br>
<input type="submit" value="Login" class='btn btn-info btn-lg'></input>
<br />

</div>
<small class="text-muted ml-2">
<a href="#">Forgot Password?</a>
</small>
</div>



</form>
</div>

{% endblock body %}

