
{% block content %}
<div id='navbar'>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/navbar.css') }}">

    <ul>
    
        <li><a style='text-decoration: none;' href="{{ url_for('index') }}"> Axter </a></li>
        <li><a style='text-decoration: none;' href="#"> Posts</a></li>
        <li><a style='text-decoration: none;'  href="#"> Categories</a></li>
        <li><a style='text-decoration: none;'  href="#"> About Us</a></li>
        {% if current_user.is_authenticated %}
            <li><a style='text-decoration: none;'  href="{{ url_for('logout') }}"> Logout</a></li>

        {% else %}
            <li><a style='text-decoration: none;'  href="{{ url_for('register') }}"> Register</a></li>
            <li><a style='text-decoration: none;'  href="{{ url_for('login') }}"> Login</a></li>
        {% endif %}


    </ul>
    
    
    
    
    </div>

{% endblock %}    